html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bug {
  background: #AEDF78;
}
.water {
  background: #43CCFF;
}
.grass {
  background: #00CA91;
}
.fire {
  background: #E95C4D;
}
.normal {
  background: #A5A5A5;
}